.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.sketchpad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    width: 70vw;
    border: 2px solid black;  
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}