.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sketchpad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    border: 5px solid black;  
}

.button {
    margin-bottom: 10px;
    border-radius: 10px;
    color: black;
    background-color: lightblue;
}